# Intellij
/*.iws
/*.ids
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/libraries/
/.idea/artifacts/
/.idea/dataSources*
/.idea/sqldialects*

# Mac
.DS_Store

# Windows
Thumbs.db

# Maven
target/
*.pom.xml.versionsBackup

# Misc
builds/
out/
dist/
