body {
    padding: 15px;
}

.smallMargin {
    margin: 10px;
}

.smallHorizontalMargin {
    margin: 0 10px;
}

.smallVerticalMargin {
    margin: 10px 0;
}

.genericWarning {
    font-style: italic;
    font-weight: bold;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

#viewOrdersButton {
    float: right;
}
