<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POS Sample App</title>

    <script src="js/node_modules/angular/angular.min.js"></script>
    <script src="js/node_modules/angular-animate/angular-animate.min.js"></script>

    <script src="js/posSample.js"></script>
    <script src="js/controllers/orderEntryController.js"></script>
    <script src="js/controllers/orderListController.js"></script>
    <script src="js/controllers/tenderPaymentController.js"></script>
    <script src="js/controllers/fileUploadController.js"></script>
    <script src="js/services/orderPersistence.js"></script>
    <script src="js/services/orderStatus.js"></script>
    <script src="js/services/viewManager.js"></script>

    <!-- To use Bootstrap in Angular (modals, styling, etc...) -->
    <script src="js/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- File upload, from https://github.com/danialfarid/ng-file-upload -->
    <script src="js/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
    <script src="js/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <link rel="stylesheet" type="text/css" href="css/fileUpload.css"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/ordersSidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/orderList.css"/>
    <link rel="stylesheet" type="text/css" href="css/tenderPaymentDialog.css"/>
</head>
<body ng-app="posApp">

<div ng-controller="OrderEntryController"
     ng-hide="isShowingList()"
     class="panel panel-default">

    <div class="panel-heading">
        <h4>Order entry</h4>
    </div>

    <div class="panel-body">
        <form>
            <div>
                <button id="viewOrdersButton"
                        class="btn btn-default smallHorizontalMargin"
                        ng-click="setIsShowingList(true)">
                    ORDERS
                </button>
            </div>

            <div id="itemsAndSummaryContainer">
                <div id="itemsList">
                    <button class="itemButton smallMargin" ng-repeat="item in allItems" ng-click="addItem(item)">
                        {{item.name}}
                    </button>
                </div>

                <div ng-include src="'orderSidebar.html'"></div>
            </div>
        </form>
    </div>
</div>

<div ng-include src="'orderList.html'"></div>

<div ng-include src="'fileUpload.html'"></div>

</body>
</html>