<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POS Sample App</title>

    <script src="js/node_modules/angular/angular.min.js"></script>
    <script src="js/node_modules/angular-animate/angular-animate.min.js"></script>

    <script src="js/posSample.js"></script>
    <script src="js/controllers/order-entry-controller.controller.js"></script>
    <script src="js/controllers/order-list-controller.controller.js"></script>
    <script src="js/controllers/tender-payment-controller.controller.js"></script>
    <script src="js/controllers/file-upload-controller.controller.js"></script>
    <script src="js/services/order-persistence.factory.js"></script>
    <script src="js/services/order-status.factory.js"></script>
    <script src="js/services/view-manager.factory.js"></script>

    <!-- To use Bootstrap in Angular (modals, styling, etc...) -->
    <script src="js/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- File upload, from https://github.com/danialfarid/ng-file-upload -->
    <script src="js/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
    <script src="js/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <link rel="stylesheet" type="text/css" href="css/fileUpload.css"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/ordersSidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/orderList.css"/>
    <link rel="stylesheet" type="text/css" href="css/tenderPaymentDialog.css"/>
</head>
<body ng-app="posApp">

<div ng-controller="OrderEntryController"
     ng-hide="vm.viewManager.isShowingList"
     class="panel panel-default">

    <div class="panel-heading">
        <h4>Order entry</h4>
    </div>

    <div class="panel-body">
        <form>
            <div>
                <button id="viewOrdersButton"
                        class="btn btn-default smallHorizontalMargin"
                        ng-click="vm.viewManager.isShowingList = true">
                    ORDERS
                </button>
            </div>

            <div id="itemsAndSummaryContainer">
                <div id="itemsList">
                    <div ng-show="vm.allItems.length === 0"
                         class="genericWarning">
                        Please use the .csv import feature below.
                    </div>

                    <button class="itemButton smallMargin"
                            style="{{isPaymentComplete() ? 'opacity: 0.6;' : ''}}"
                            ng-repeat="item in vm.allItems"
                            ng-disabled="vm.isPaymentComplete()"
                            ng-click="vm.addItem(item)">
                        {{item.name}}
                    </button>
                </div>

                <div ng-include src="'orderSidebar.html'"></div>
            </div>
        </form>
    </div>
</div>

<div ng-include src="'orderList.html'"></div>

<div ng-include src="'fileUpload.html'"></div>

</body>
</html>