<div ng-controller="OrderListController"
     ng-show="viewManager.isShowingList"
     class="panel panel-default">

    <div class="panel-body">
        <div id="orderListButtonContainer">
            <button class="btn {{areAllShown() ? 'btn-success' : 'btn-default'}} smallHorizontalMargin"
                    ng-click="toggleShowAll()">
                ALL
            </button>
            <button class="btn {{showInProgressOrders ? 'btn-success' : 'btn-default'}} smallHorizontalMargin"
                    ng-click="showInProgressOrders = !showInProgressOrders">
                IN PROGRESS
            </button>
            <button class="btn {{showUnpaidOrders ? 'btn-success' : 'btn-default'}} smallHorizontalMargin"
                    ng-click="showUnpaidOrders = !showUnpaidOrders">
                UNPAID
            </button>
            <button class="btn {{showPaidOrders ? 'btn-success' : 'btn-default'}} smallHorizontalMargin"
                    ng-click="showPaidOrders = !showPaidOrders">
                PAID
            </button>
            <div id="orderListButtonSpacer"></div>
            <button id="newOrderButton" class="btn btn-default smallHorizontalMargin" ng-click="startNewOrder()">
                NEW ORDER
            </button>
        </div>

        <table class="table table-striped table-bordered table-hover smallVerticalMargin" ng-show="ordersExist()">
            <tr>
                <th>Status</th>
                <th>Timestamp</th>
                <th>Order Number</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat="order in allOrders"
                ng-click="openOrder(order)">
                <td ng-bind="determineOrderStatus(order)"></td>
                <td ng-bind="order.numberAssignDate"></td>
                <td ng-show="hasOrderNumber(order)">#{{order.orderNumber | padWithLeadingZeros:3}}</td>
                <td ng-hide="hasOrderNumber(order)"></td>
                <td ng-bind="order.totalDue | currency"></td>
            </tr>
        </table>

        <div class="genericWarning smallVerticalMargin" ng-hide="ordersExist()">
            No orders to display.  Try clicking "All".
        </div>
    </div>

</div>