<div id="orderSidebar" class="smallMargin">
    <div>
            <span ng-hide="hasOrderNumber()">
                New Order
            </span>
            <span ng-show="hasOrderNumber()">
                Order #{{getOrderNumber() | padWithLeadingZeros:3}}
            </span>
    </div>

    <!-- The list of items in this order -->
    <div id="orderItemsPanel" class="well">
        <div id="orderItemsList">
            <div class="totalsPanelRow {{entry.item == selectedItem ? 'selectedRow' : ''}}"
                 style="cursor:pointer;"
                 ng-repeat="(name, entry) in itemsInOrder"
                 ng-click="selectItem(entry.item)">

                <div class="orderNumber">{{entry.quantity}}</div>
                <div class="summaryLeftColumn">{{name}}</div>
                <div class="summaryRightColumn">{{entry.item.price | currency}}</div>
            </div>
        </div>
        <div id="totalsPanel">
            <div class="totalsPanelRow">
                <div class="summaryLeftColumn">Subtotal:</div>
                <div class="summaryRightColumn" ng-bind="getSubtotal() | currency"></div>
            </div>

            <div class="totalsPanelRow">
                <div class="summaryLeftColumn">Sales Tax:</div>
                <div class="summaryRightColumn" ng-bind="getSalesTax() | currency"></div>
            </div>

            <div class="totalsPanelRow">
                <div class="summaryLeftColumn">Grand Total:</div>
                <div class="summaryRightColumn" ng-bind="getGrandTotal() | currency"></div>
            </div>
        </div>
        <div id="paymentResultsPanel"
             ng-show="isPaymentComplete()">
            <div class="totalsPanelRow">
                <div class="summaryLeftColumn">Amount tendered:</div>
                <div class="summaryRightColumn"
                     ng-bind="paymentResults.amountTendered | currency"></div>
            </div>
            <div class="totalsPanelRow">
                <div class="summaryLeftColumn">Change due:</div>
                <div class="summaryRightColumn" ng-bind="paymentResults.changeDue | currency"></div>
            </div>
        </div>
    </div>

    <div class="smallVerticalMargin">
        <button id="voidOrderButton"
                class="btn btn-danger"
                ng-disabled="!selectedItem || isPaymentComplete()"
                ng-click="voidSelectedItem()">
            VOID
        </button>
        <button id="payNowButton"
                class="btn btn-primary"
                ng-disabled="getSubtotal() == 0 || isPaymentComplete()"
                ng-click="startPaying()">
            PAY NOW
        </button>
    </div>
</div>