<div class="modal-header">
    <h3 class="modal-title">TENDER PAYMENT</h3>
</div>

<div class="modal-body">
    <table id="paymentDialog" class="centeredTable">
        <tr>
            <td>
                <table class="centeredTable">
                    <tr>
                        <td class="paymentDialogLeftColumn">Amount Due:</td>
                        <td ng-bind="vm.getGrandTotal() | currency"></td>
                    </tr>
                    <tr>
                        <td class="paymentDialogLeftColumn">Amount Tendered:</td>
                        <td>
                            <input id="txtAmountTendered"
                                   type="text"
                                   ng-model="vm.amountTendered"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="paymentDialogLeftColumn">Change Due:</td>
                        <td ng-bind="vm.getChangeDue() | currency"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-default"
            ng-click="vm.cancelPayment()">
        CANCEL
    </button>

    <button class="btn btn-primary"
            ng-disabled="!vm.isPaymentValid()"
            ng-click="vm.submitPayment()">
        TENDER
    </button>
</div>